@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* AppBar Styles */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    text-align: center;
    background-color: #1b1b1b;
}

h2 {
    margin-bottom: 20px;
}

.tabledata {
    width: 100%;
    border-collapse: collapse;
    background: white;
    margin-bottom: 20px;
}

.tabledata th, .tabledata td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background: #007BFF;
    color: white;
}

td {
    font-size: 14px;
}

.form-container {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    margin: 5px;
    width: 200px;
}

.btn {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.add-btn {
    background: green;
    color: white;
}

.delete-btn {
    background: red;
    color: white;
    margin-top: 5px;
    display: block;
    width: 100%;
}

